.homePage {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding-top: 5rem;
  
   

    &>*:not(last-child) {
        margin-bottom: 3rem;
    }

    h1,
    h2,
    h3 {
        text-transform: uppercase;
        padding: 2rem 0;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
        letter-spacing: 2px;
    }

    p {
        text-transform: capitalize;
    }
}

.section-1 {
    text-align: center;
    &--image {
        width: 100%;
        max-width: 1800px;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }
}

.section-2 {
    &--content{
        position: absolute;
        bottom: 2rem;
        left: 2rem;
    }
    .images-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        width: 100%;
        max-height: 80vh;
        height: 100vw;

        .imagePosition {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
        }

        &-left {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            background-image: url(../images/img-4.webp);
        }

        &-top {
            grid-column: 2 / 3;
            grid-row: -3 / -2;
            background-image: url(../images/img-5.webp);
        }

        &-bottom {
            background-image: url(../images/pexels-jeandaniel-francoeur-4562470.jpg);
            grid-column: 2 / -1;
            grid-row: -2 / -1;
        }

        img {
            width: 50%;
            object-fit: cover;

        }
    }
}