.navbar {
    position: fixed;
    left: 5%;
    height: 5rem;
    width:90%;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    font-size: 2rem;
    &-items{
        width: 50%;
        display: flex;
        justify-content: space-around;
    }
}